.header {
    background: #1F2837;
    padding: 8px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
}

/*
.logo-text {
    width: "32";
    height: "32";
}
*/